

/* Tablet */

@media only screen and (max-width: 1024px){

    .account {
        display: none !important;
    }
    .mobile-close-icon{
        display: block !important
    }
   .navbar-menu {
       display: none;
      
   }

   .navbar-wrapper {
        
   }


   .openmobile {
        display: block;
   }


   .navbar-menu {
    padding : 20px;
    width: 40vw;
    background-color: black;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    min-width: 300px;
}

    .navbar-menu-item {
        margin-left: 30px;
        padding: 20px;
    }

    .navbar-sub-menu{
        position: initial;
    }


    .mobile-menu {
        transform : translateX(-100%);
        transition: 0.4s ease-in-out;
        z-index: 100;
    }

    .mobile-menu.active {
        transform : translateX(0);
        z-index: 101;
    }

    
    .mobile-close-icon {
        cursor: pointer;
        font-size: 1.5rem;
        display: block;
        color: white;
        position: absolute;
        top: 5px;
        right:10px;
    }



    .product-list-item:nth-child(1){
        grid-row: auto;
        height : 100%;
    }
    
    
    .product-list-item:nth-child(2){
        grid-row: auto;
        grid-column : auto;
        height : 100%;
       
    }
    
    .product-list-item:nth-child(3){
        grid-row: auto;
        margin-top: 0px;
        height : 100%;
    }
    
    .product-list-item:last-child {
        margin-top: 0;
        height : 100%;
    }   

    .product-list-item-wrapper{
        display : grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fit , minmax(400px, 1fr));
        grid-template-rows: 360px 360px 360px 360px ;
     }
     

     .female-top-left {
         display : none;
     }

     .male-top-left  {
         display : none;
     }

     .male-top-right {
         width: 100%;
         margin-bottom: 20px;
     }

     .flex-wrap {
         display : flex;
         flex-wrap: wrap-reverse;
     }
     
     .sun-architecture-content-right{
         width: 100%;
         height : 50%;
     }

     .sub-architecture-content-left {
         width: 100%;
     }

}


/* Mobile */

@media only screen and (max-width: 740px) {
  .logo img{ 
      height: 15px;
      transform: translateY(-9px);
  }

  .navbar-icon-item a {
    color : white;
    font-size: 1.2rem;
    transition: 0.2s ease-in-out;
  }

  .navbar-icon-item a:hover {
    color : white;
  }

  .caption {
      width: 40%;
      text-align: left;
  }

  .caption h2 {
      font-size: 1.8rem;
  }

  .caption p {
      font-size: 0.9rem;
  }

    .btn {
      font-size: 0.8rem;
      width: 100%;

  }

  .menu-best-sale-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      text-align: center;
      justify-content: center;
  }

  .menu-best-sale-title-item{
      width: 100%;
  }


  .brand-list{
    
}

   .brand-item{
    width: 100%;
    text-align: center;
    display : flex;
    align-items: center;
    justify-content: space-around;
    gap: 90px;
    margin-top: 20px;
}
    
     .item-content-name{
         font-size: 0.8rem;
     }

     .price-old {
         font-size: 0.7rem;
     }

     .price-new {
         font-size: 0.8rem;
     }

     .discount{
         font-size: 0.7rem;
     }
  
}